h1 {
    text-transform: uppercase;
    color: #011627;
    font-size: 40px;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-input {
    margin: 1px;
    padding: 1px;
    border: 1px solid black;
    border-radius: 3px;
    resize: none !important;
    text-transform: uppercase;
    font-size: 12px;
    font-family: sans-serif;
    background-color: #f9f6f2;
}

.title {
    max-weight: 50px;
    max-height: 30px;
}

.content {
    max-weight: 300px;
    min-height: 150px;
}

.top-note {
    display: flex;
    flex-direction: row;
}
